
body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, .largetext, .xltext, .transparent, .box {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h4 {
    color: rgb(191, 146, 91);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav div {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

nav ul, nav li {
    display: flex;
    justify-content: center;
    padding-left: 2px;
}

nav ul, nav li, a:hover {
    color: rgb(191, 146, 91)
}

nav button {
    margin-top: 8px;
    background: none;
    border: 0.0; 
    color: #fff;
}

button + .menu {
    display: none;
    opacity: 0;
  }

  button.menu-open + .menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  #menu-button {
    font-size: 18px;
    opacity: 0.4;
  }

h1 {
    color: white;
    margin-top: 0;
    font-size: 2rem;
}

.bannertext {
    padding-left: 10rem;
}

.xltext {
    color: white;
    font-size: 2.5rem;
    font-style: bold;
}

.transparent {
    -webkit-text-stroke: 0.7px white;
    -webkit-text-fill-color: transparent;
}

.smalltext {
    color: white;
    line-height: 0.5;
    font-size: 14px;
}

.textbottom {
    padding-bottom: 1rem;
}

.bannerbox {
    color: rgb(191, 146, 91);
    border: 1.5px solid rgb(191, 146, 91);
    width: 200px; 
    text-align: center;
}

h2 {
    padding-top: 15rem;
    padding-bottom: 0.5rem;
    margin: 0;
    color: rgb(191, 146, 91);
}

.circle {
    width: 10rem;
    height: 10rem;
    border-radius: 100rem;
    position: absolute;
    top: -5rem;
    left: 0;
    right: 0;
    margin: auto; 
    background-image: url(beard.jpg);
    background-size: cover;
    background-position: center;
}

h3 {
    margin-top: 5rem;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(barber.jpg);
    background-position: center;
    background-size: cover;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.styles-1 {
    background-color: rgb(191, 146, 91);
    text-align: center;
    position: relative;
    color: white;
}

.styles-2 {
    background-color: rgb(240, 183, 114);
    text-align: center;
    position: relative;
    color: white;
}
.text {
    padding-bottom: 5rem;
}

.container-3 {
    display: flex;
    flex-direction: column;
    padding: 0.5REM;
}


.about-img {
    display: block;
    max-width: 100%;  
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
    width: 170px;
    height: 120px;
    background-color: rgb(191, 146, 91);
} 
 .calender {
    display: flex;
    color: white;
    align-items: center;
    width: 200px;
    height: 70px;
    background-color: rgb(4, 4, 3);
    border-radius: 100%;
    margin: 5px;
} 

.calender-number{
    color: white;
    font-size: 28px;
}


 .calender i {
    margin: auto;
    font-size: 36px;
}

 .right-col-calender { 
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.revsection {
    background-color: rgb(235, 232, 222);
    padding: 2px;
}

.container-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.footrow {
    flex-direction: column;
}

.wrapper {
    display: flex;
    padding-left: 1.8rem;
}

.social-links {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(191, 146, 91);
    align-items: center;
    border-radius: 100%;
    margin: 5px;
}

.social-links i {
    margin: auto;
}


h5 {
    padding-left: 3rem;
}

@media screen and (min-width:768px) {

    h1 {
        display: flex;
        justify-content: center;
    }

    nav #menu-button {
        display: none;
    }

    nav button + .menu {
        display: flex;
        justify-content: flex-start;
        visibility: visible;
        margin-top: 0;
        opacity: 0.7;
    }

    nav li {
        margin-right: 30px;
    }

    .header-content {
        left: 49%;
        width: 450px;
    }

    .container-2 {
        flex-direction: row;
    }

    .footrow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }

    .banner {
        height: 95vh;
    }

    h2 {
        padding-left: 40%;
    }

    .smalltext {
        padding-left: 60%;
    }

    .xltext{
        padding-left: 40%;
    }

    .container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sidetext {
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
    }

    .about-img {
        max-width: 80%;
    }
}

   
    




